<!DOCTYPE html>
<html<%= htmlAttributes %>>
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />

    <title><%= title %></title>

    <link
      href="https://fonts.googleapis.com/css?family=Inter:400,500,600,700|Merriweather:400&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="alternate icon" href="/favicon.ico">
    <%= links %>


  <script async defer data-domain="fundtherebuild.com" src="https://plausible.io/js/plausible.js"></script>
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>


    <meta
    name="Description"
    content="Help rebuild after the riots by donating to  GoFundMe campaigns with the most need." />
    <meta property="og:title" content="Fund the Rebuild" />
    <meta name="twitter:title" content="Fund the Rebuild" />
    <meta name="twitter:creator" content="@dimfeld" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://fundtherebuild.com/" />
    <meta property="og:description" content="Help rebuild after the riots by donating to GoFundMe campaigns with the most need." />
    <meta name="twitter:description" content="Help rebuild after the riots by donating to GoFundMe campaigns with the most need." />
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="https://fundtherebuild.com/card.jpg" />
    <meta property="og:image"  content="https://fundtherebuild.com/card.jpg" />
  </head>

  <body class="font-sans">
    <%= scripts %>


    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));</script>
  </body>

</html>
